<app-firebase-toolbar [user]="user$ | async"></app-firebase-toolbar>
<div style="display: flex; flex-wrap: wrap;">
  <app-firebase-card
    style="max-width: 400px; margin: 1em;"
    *ngFor="let post of posts$ | async; index as i; trackBy: trackById"
    [post]="post"
    (like)="like($event)"
  >
  </app-firebase-card>
</div>
<button *ngIf="user$ | async" mat-mini-fab aria-label="icon-button with a add icon"
        color="primary" class="add-btn" type="button" (click)="openFeedDialog()">
  <mat-icon>add</mat-icon>
</button>
